<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book list</title>

    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.amber-red.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="../styles.css"/>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

</head>
<body>

<div id="wrapper">
    <table id="list" class="mdl-data-table mdl-js-data-table">

        <h3>List of book categories</h3>
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">ID</th>
                <th>Name</th>
                <th colspan="2" style="text-align: center">Actions</th>
            </tr>
        </thead>

        <tr th:each=" category : ${categoryList}">
            <td th:text="${category.id}" class="mdl-data-table__cell--non-numeric"></td>
            <td th:text="${category.name}"></td>
            <td>
                <a th:href="@{/deletecategory/{id}(id=${category.id})}">Delete</a>
            </td>
            <td>
                <a th:href="@{/edit/{id}(id=${category.id})}">Edit</a>
            </td>
        </tr>
    </table>

        <a id="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
           href="/addcategory">Add a category</a>
        <a id="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="/booklist">Books</a>


</div>
</body>
</html>